* {
    margin: 0;
    max-width: 1200px;
}

header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: greenyellow;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 20px 40px 10px darkgray;
}

.header-logo,
img {
    float: right;
    max-width: 20%;
    max-height: 20%;
}

.btn {
    background-color: greenyellow;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    float: left;
  }


div#nav { position: left; } div#nav a { padding: 5px 15px 5px; }
.dropdown-toggle { padding: 0; background: #777; }
/**** ****/
ul.dropdown { display: none; position: absolute; top: 100%;
  margin-top: 5px; padding: 5px 5px 0 0; background: #777; }
ul.dropdown li { list-style-type: none; }
ul.dropdown li a { text-decoration: none; padding: 0em 1em; display: block; }